<div class="region fullscreen below"><div class="container">@FullscreenBelow</div></div>
<div class="region top bar">
    <div class="container">@TopBar</div>
    <div class="region top left"><div class="container">@TopLeft</div></div>
    <div class="region top center"><div class="container">@TopCenter</div></div>
    <div class="region top right"><div class="container">@TopRight</div></div>
</div>
<div class="region upper third"><div class="container">@UpperThird</div></div>
<div class="region middle center"><div class="container">@MiddleCenter</div></div>
<div class="region lower third"><div class="container">@LowerThird<br /></div></div>
<div class="region bottom bar">
    <div class="container">@BottomBar</div>
    <div class="region bottom left"><div class="container">@BottomLeft</div></div>
    <div class="region bottom center"><div class="container">@BottomCenter</div></div>
    <div class="region bottom right"><div class="container">@BottomRight</div></div>
</div>
<div class="region fullscreen above"><div class="container">@FullscreenAbove</div></div>